services:
  crafty:
    container_name: crafty
    image: registry.gitlab.com/crafty-controller/crafty-4:latest
    restart: always
    environment:
      - TZ=Etc/UTC
    ports:
      - "8123:8123" # DYNMAP
      - "19132:19132/udp" # BEDROCK
      - "25500-25600:25500-25600" # MC SERV PORT RANGE
    volumes:
      - {{ data_dir }}/backups:/crafty/backups:Z
      - {{ log_dir }}:/crafty/logs:Z
      - {{ data_dir }}servers:/crafty/servers:Z
      - ./config:/crafty/app/config:Z
      - {{ data_dir }}/import:/crafty/import:Z
    networks:
      {{ internal_network_name }}:

networks:
  {{ internal_network_name }}:
    external: true
