security:
  oidc:
    client-id: "{{ oidc_client_id }}"
    client-secret: "{{ oidc_client_secret }}"
  basic:
    username: "{{ gatus_builtin_username }}"
    password-bcrypt-base64: "{{ gatus_builtin_password | hash('bcrypt') | b64encode }}"
