AUTHENTIK_SECRET_KEY="{{ authentik_secret_key }}"
AUTHENTIK_BOOTSTRAP_TOKEN="{{ authentik_bootstrap_token }}"
AUTHENTIK_BOOTSTRAP_PASSWORD="{{ authentik_bootstrap_password }}"
AUTHENTIK_POSTGRESQL__HOST=db
AUTHENTIK_POSTGRESQL__USER={{ db_user }}
AUTHENTIK_POSTGRESQL__NAME={{ db_name }}
AUTHENTIK_POSTGRESQL__PASSWORD={{ db_password}}
AUTHENTIK_HOST_BROWSER="https://{{ public_domain }}"
