AUTHENTIK_HOST="http://server:9000"
AUTHENTIK_INSECURE="false"
AUTHENTIK_HOST_BROWSER="https://{{ public_domain }}"
AUTHENTIK_LISTEN__METRICS=0.0.0.0:9301
# An ldap toke is needed, it passed with the file ldap_token.env created with the
# just configure_ldap_outpost command
