{% set compose_command = (
    "sudo podman compose" if compose_provider == "podman" else
    "podman compose" if compose_provider == "podman_rootless" else
    "docker compose"
) %}

_default:
    just --choose

start *args="-d": {% if config_file_name -%}link_configs{%- endif %}
    {{ compose_command }} up {% raw%}{{ args }}{% endraw %}
stop *args:
    {{ compose_command }} down {% raw%}{{ args }}{% endraw %}

pull *args:
    {{ compose_command }} pull {% raw%}{{ args }}{% endraw %}
logs *args:
    {{ compose_command }} logs {% raw%}{{ args }}{% endraw %}
restart: stop && start
    echo "Restarting"

update: pull && restart
    echo "Updating"

{% if config_file_name -%}
link_configs FILE_NAME={{ config_file_name }}:
    #!/usr/bin/env bash
    set -euo pipefail

    DEST_DIR="./config.d"
    mkdir -p "$DEST_DIR"

    for DIR in "/opt/*/"; do
        FILE="$DIR/$FILE_NAME"
        if [ -f "$FILE" ]; then
            PARENT_FOLDER=$(basename "$DIR")
            DEST_FILE="$DEST_DIR/${PARENT_FOLDER}.yml"

            if [ -e "$DEST_FILE" ]; then
                continue
            fi

            ln "$FILE" "$DEST_FILE" && echo "Linked $FILE -> $DEST_FILE"
        fi
    done
{%- endif %}
